.storybook-button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: #ffff;
  background-color: #2879c7;
}

.storybook-button--secondary {
  color: #000000;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--success {
  color: #ffff;
  background-color: #5dc264;
}
.storybook-button--danger {
  color: #f04438;
  border: 1px solid #f04438;
  background-color: #fff;
}
.storybook-button--disabled {
  color: #919ba7;
  border: 1px solid #919ba7;
  background-color: #fff;
  cursor: not-allowed;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
